.header__logo {
  max-width: 100%;
}

.search-bar {
  background-color: #E7E7E7;
  border-radius: 5px;
  width: 100%;
}

#tags .tag-item {
  color: white;
  font-weight: 700;
  font-size: 14px;
}
#tags .tag-item:hover {
  color: black !important;
}
#tags .delete-tag {
  position: relative;
  bottom: 2px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

#tags span {
  font-weight: 500;
  color: white;
}
#tags .ingredient-tag {
  background-color: #3282F7;
}
#tags .appliance-tag {
  background-color: #68D9A4;
}
#tags .ustensil-tag {
  background-color: #ED6454;
}

.sort-nav-menus input {
  width: 15rem;
  font-weight: 500;
  color: white;
  text-align: left;
}
.sort-nav-menus .filter-menu::-moz-placeholder {
  font-weight: 500;
  color: white;
}
.sort-nav-menus .filter-menu:-ms-input-placeholder {
  font-weight: 500;
  color: white;
}
.sort-nav-menus .filter-menu::placeholder, .sort-nav-menus li a {
  font-weight: 500;
  color: white;
}
.sort-nav-menus .show:focus, .sort-nav-menus ul {
  width: 45em;
}
.sort-nav-menus ul {
  -moz-column-count: 3;
       column-count: 3;
}
.sort-nav-menus img {
  position: absolute;
  top: 30%;
  right: 12px;
  width: 37px;
  height: 36px;
  transition: all 0.5s;
  z-index: 3;
}
.sort-nav-menus #ingredients, .sort-nav-menus #sortByIngredient, .sort-nav-menus #sortByIngredient li {
  background-color: #3282F7;
}
.sort-nav-menus #appliances, .sort-nav-menus #sortByAppliance, .sort-nav-menus #sortByAppliance li {
  background-color: #68D9A4;
}
.sort-nav-menus #ustensils, .sort-nav-menus #sortByUstensil, .sort-nav-menus #sortByUstensil li {
  background-color: #ED6454;
}

.is-open-icon {
  transform: rotateX(180deg);
  top: 22px;
}

#recipes-list {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 1390px) {
  #recipes-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 990px) {
  #recipes-list {
    display: flex;
    flex-direction: column;
  }
}
#recipes-list .no-recipes {
  display: flex;
  justify-content: center;
  font-size: 20px;
  grid-column: 1/4;
}
#recipes-list .recipe-card {
  width: 25rem;
  border-radius: 5px;
  background-color: #E7E7E7;
  height: 364px;
  cursor: pointer;
}
@media (max-width: 480px) {
  #recipes-list .recipe-card {
    margin: auto;
    max-width: 100%;
  }
}
#recipes-list .recipe-card .recipe-picture-container {
  background-image: url("../../assets/imgs/recipe.jpg");
  background-color: #C7BEBE;
  height: 200px;
  border-radius: 5px 5px 0 0;
}
#recipes-list .recipe-card h2 {
  font-size: 18px;
  font-weight: 400;
}
#recipes-list .recipe-card span {
  font-weight: 700;
}
#recipes-list .recipe-card .recipe-content {
  position: relative;
  height: 180px;
}
#recipes-list .recipe-card .recipe-content .recipe-ingredients {
  list-style-type: none;
  font-weight: 700;
  font-size: 10px;
  white-space: nowrap;
}
#recipes-list .recipe-card .recipe-content .recipe-ingredients .ingredient-quantity {
  font-weight: 400;
}
#recipes-list .recipe-card .recipe-content .recipe-description {
  max-height: 100%;
  width: 170px;
  height: 106px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: scroll;
}/*# sourceMappingURL=style.css.map */